<div class="container">
  <form [formGroup]="form" *ngIf="user?.role == 'Profesor'" (ngSubmit)="onSubmit()"
    class="form-con border border-light ">
    <p class="h4 mb-4">Crear banco de pregunta</p>
    <div class="form-row mb-4">
      <div class="col">
        <input type="text" class="form-control" formControlName="name" placeholder="Tema" />
        <mat-form-field appearance="fill" style="margin: 10px 5px">
          <mat-label>Experimento:</mat-label>
          <select formControlName="exper" matNativeControl>
            <option value="g">Gravedad</option>
            <option value="i">Inercia</option>
            <option value="a">Accion y Reaccion</option>
          </select>
        </mat-form-field>
        
        <mat-form-field appearance="fill" style="margin: 10px 5px">
          <mat-label>Grado:</mat-label>
          <select formControlName="grado" matNativeControl>
            <option value="Primer Grado de Secundaria">Primer Grado de Secundaria</option>
            <option value="Segundo Grado de Secundaria">Segundo Grado de Secundaria</option>
            <option value="Tercer Grado de Secundaria">Tercer Grado de Secundaria</option>
          </select>
        </mat-form-field>

      </div>
      <input [disabled]="form.invalid" class="btn btn-info btn-block" type="submit" value="Crear" />
    </div>
  </form>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-uppercase mb-0">Bancos de pregunta</h5>
        </div>
        <div class="table-responsive">
          <table class="table no-wrap user-table mb-0">
            <thead>
              <tr class="ml">
                <th scope="col" class="border-0 text-uppercase font-medium">
                  Nombre
                </th>
                <th scope="col" class="border-0 text-uppercase font-medium">
                  Fecha de Creacion
                </th>
                <th scope="col" class="border-0 text-uppercase font-medium">
                  Basado en Experimento
                </th>
                <th scope="col" class="border-0 text-uppercase font-medium">
                  Grado
                </th>
                <th scope="col" class="border-0 text-uppercase font-medium">
                  Creador
                </th>
                <th scope="col" class="border-0 text-uppercase font-medium">
                  Estado
                </th>
                <th scope="col" class="ml border-0 text-uppercase font-medium">
                  Opciones
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="d" *ngFor="let bp of bps">
                <td>
                  <span class="text-muted">{{bp.tema}}</span><br />
                </td>
                <td>
                  <span class="text-muted">{{bp.fechaCreacion}}</span><br />
                </td>
                <td>
                  <span class="text-muted">{{bp.experimento}}</span><br />
                </td>
                <td>
                  <span class="text-muted">{{bp.username}}</span><br />
                </td>
                <td>
                  <span class="text-muted">{{bp.grado}}</span><br />
                </td>
                <td>
                  <span class="text-muted">{{bp.publicado ? 'Publicado' : 'No publicado'}}</span><br />
                </td>
                <td>
                  <button type="button" [routerLink]="['/preguntas', bp.bancoPreguntaId]"
                    [disabled]="bp.userId != user?.id" class="ml btn btn-outline-info btn-circle btn-lg btn-circle">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" *ngIf="bp.userId != user?.id" [routerLink]="['/preguntas', bp.bancoPreguntaId]"
                    class="ml btn btn-outline-info btn-circle btn-lg btn-circle">
                    <i i-bs name="eye"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />