.options {
    position: relative;
    padding-left: 40px;
}

#options label {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input {
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked ~ .checkmark:after {
    display: block;
}

.options .checkmark:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark:after {
    transform: translate(-50%, -50%) scale(1);
}

.btn-primary {
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
    height: 2.5rem;
}

.btn-primary:hover {
    background-color: #21bf73;
    border: 1px solid #21bf73;
}

.btn-success {
    padding: 5px 25px;
    background-color: #21bf73;
}
.question {
    width: 70%;
    word-spacing: 2px;
    background-color: #FFF;
    border-radius: 13px;
}
.question-container {
    display: flex;
    justify-content: center;
}
.banco-cont {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.banco {
    width: 70%;
    background-color: #FFF;
    border-radius: 13px;
    padding: 20px;
    word-spacing: 2px;

}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.example-full-width {
    width: 100%;
}

.answer {
    width: 60%;
    margin-left: 4rem;
}
.answer-label {
    font-size: small;
}
