<section class="description">
  <div class="section-header">
    <span> Descripción de Conceptos </span>
  </div>
  <div class="section-content">
    <div [innerHtml]="descr"></div>
  </div>
</section>

<section class="instructions">
  <div class="section-header"><span> Instrucciones de Ejecución </span></div>
  <div class="section-content">
    <div [innerHtml]="instr"></div>
  </div>
</section>

<section *ngIf="exper == 'Gravedad'" class="experiment">
  <app-dinamics></app-dinamics>
</section>

<section *ngIf="exper == 'Accion y reaccion'" class="experiment">
  <app-inercia></app-inercia>
</section>

<section *ngIf="exper == 'Poleas'" class="experiment">
  <app-inercia-real></app-inercia-real>
</section>

<section class="test">
  <div class="section-header">
    <span> Prueba </span>
  </div>
  <form [formGroup]="pruebaForm" class="mt-sm-5 my-1 container">
    <h1 style="font-weight: bolder;">{{bp?.tituloPublicado}}</h1><hr/>
    <div *ngFor="let p of preguntas; let k = index" class="question ml-sm-5 pl-sm-5 pt-2">
      <div class="h5">
        {{k + 1}}. <b>{{p.descripcion}}</b>
      </div>
      <mat-radio-group id="options">
        <mat-label *ngFor="let r of p.respuestas; let i = index" class="options">
          <div>
            {{i + 1}}. <mat-radio-button (change)="radioChange(r)" type="radio" [value]="r.respuestaId">
              {{r.descripcion}}
            </mat-radio-button>
          </div>
        </mat-label>
      </mat-radio-group>
    </div>
    <div class="d-flex justify-content-end pt-3">
      <div id="prev">
        <button class="btn btn-primary" (click)="openDialog()">
          Enviar prueba
        </button>
      </div>
    </div>
  </form>
</section>