<div class="row">
  <div style="background-color: white; margin: 10px 20px; border-radius: 13px" class="col-md-6">
    <div class="tab-content profile-tab" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" *ngIf="user">
        <div class="profile-work">
          <p>Datos Personales</p>
        </div>
        <div style="justify-content: center" class="row user-info">
          <div class="col-md-6">
            <h2 style="font-size: 30px; text-align: center;">
              {{ user?.name }} {{ user?.lastName1 }} {{ user?.lastName2 }}
            </h2>
          </div>
        </div>
        <div class="row user-info">
          <div class="col-md-6">
            <label>Rol</label>
          </div>
          <div class="col-md-6">
            <p>{{user?.role}}</p>
          </div>
        </div>
        <div class="row user-info">
          <div class="col-md-6">
            <label>E-mail</label>
          </div>
          <div class="col-md-6">
            <p>{{user?.username}}</p>
          </div>
        </div>
        <div class="row user-info">
          <div class="col-md-6">
            <label>Telefono</label>
          </div>
          <div class="col-md-6">
            <p>{{ user?.phone }}</p>
          </div>
        </div>
        <div class="row user-info">
          <div class="col-md-6">
            <label>Fecha de Nacimiento</label>
          </div>
          <div class="col-md-6">
            <p>{{ user?.birth }}</p>
          </div>
        </div>
        <div class="row user-info">
          <div class="col-md-6">
            <label>{{ user?.role == 'Estudiante' ? 'Matricula' : 'Cedula' }}</label>
          </div>
          <div class="col-md-6">
            <p>{{ user?.role == 'Estudiante' ? user?.matricula : user?.cedula }}</p>
          </div>
        </div>
        <div *ngIf="user?.role == 'Estudiante'" class="row user-info">
          <div class="col-md-6">
            <label>Grado / Seccion</label>
          </div>
          <div class="col-md-6">
            <p>{{ user?.grado }} / {{ user?.seccion }} </p>
          </div>
        </div>
      </div>
      <hr />
      <app-show-prueba *ngIf="user?.role == 'Estudiante'"></app-show-prueba>
    </div>
  </div>

  <div class="profile-work col-md-5" *ngIf="user?.role == 'Estudiante'"
    style="background-color: white; margin: 10px 20px; border-radius: 13px">
    <form [formGroup]="pruebaForm">
      <p>Pruebas Publicadas</p>
      <div *ngFor="let bp of bps; let i = index" class="assignment">
        <a>
          <div>
            <span style="font-size: 20px"> {{bp.tituloPublicado}}</span><br />
            Basado en: {{bp.tema}} <br />
            Experimento: {{bp.experimento}} <br />
            Fecha limite: {{bp.fechaLimite}} <br />
            Creador: {{bp.username}}
          </div>
          <a>
            <input [formControlName]="bp.tituloPublicado!" 
              [routerLink]="['/experimento', bp.experimento, bp.bancoPreguntaId]" class="btn btn-primary"
              type="button" />
          </a>
        </a>
      </div>
    </form>
  </div>
</div>