<div class="flex-container">
  <div class="flex-item">
    <label for="angle">Masa Bloque<sub>1</sub>: {{ m1Input }} kg</label>
    <mat-slider type="range" min="1" max="5" step="0.2" [(ngModel)]="m1Input"></mat-slider>
  </div>

  <div class="flex-item">
    <label for="angle">Masa Bloque<sub>2</sub>: {{ m2Input }} kg</label>
    <mat-slider type="range" min="1" max="5" step="0.2" [(ngModel)]="m2Input"></mat-slider>
  </div>
</div>

<div id="cnvs"></div>
<div class="btn-container">
  <button class="btn btn-outline" (click)="stop()">Detener</button>
  <button class="btn btn-colour-1" (click)="start()">Empezar</button>
  <button class="btn btn-outline" (click)="restart()">Reiniciar</button>
</div>
