<form [formGroup]="userForm" (ngSubmit)="modificar()" class="text-center border border-light p-5">
	<p class="h4 mb-4">Modificar Usuario</p>
	<div class="form-row mb-4">

		<div class="col" style="text-align: start">
			<mat-form-field *ngIf="current.role != 'Admin'" appearance="fill" style="margin: 0 20px">
				<mat-label>Grado:</mat-label>
				<select formControlName="grado" matNativeControl>
					<option value="Primer Grado de Secundaria">Primer Grado de Secundaria</option>
					<option value="Segundo Grado de Secundaria">Segundo Grado de Secundaria</option>
					<option value="Tercer Grado de Secundaria">Tercer Grado de Secundaria</option>
				</select>
			</mat-form-field>

			<mat-form-field *ngIf="current.role != 'Admin'" appearance="fill" style="margin: 0 20px">
					<mat-label>Sesión:</mat-label>
					<mat-select formControlName="seccion">
					  <mat-option *ngFor="let i of ses" [value]="i.sesionNombre">
						{{ i.sesionNombre }}
					  </mat-option>
					</mat-select>
			</mat-form-field>
		</div>

		<div style="text-align: start" class="col">
			<div style="margin-left: 30px;">
				<mat-label>Primer nombre</mat-label>
			</div>
			<input type="text" class="form-control" formControlName="firstName" placeholder="Primer nombre" />
			<div *ngIf="userForm.controls.firstName.errors?.maxLength" class="alert alert-danger mt-3 mb-0">Primer
				nombre muy largo</div>
		</div>

		<div style="text-align: start" class="col">
			<div style="margin-left: 30px;">
				<mat-label>Apellido paternal</mat-label>
			</div>
			<input type="text" class="form-control" placeholder="Apellido paternal" formControlName="lastName1" />
			<div *ngIf="userForm.controls.lastName1.errors?.maxLength" class="alert alert-danger mt-3 mb-0">Primer
				apellido muy largo</div>
		</div>

		<div style="text-align: start" class="col">
			<div style="margin-left: 30px;">
				<mat-label>Apellido maternal</mat-label>
			</div>
			<input type="text" class="form-control" placeholder="Apellido maternal" formControlName="lastName2" />
			<div *ngIf="userForm.controls.lastName2.errors?.maxLength" class="alert alert-danger mt-3 mb-0">Segundo
				apellido muy largo</div>
		</div>

		<div style="text-align: start" class="col" *ngIf="current.role != 'Estudiante'">
			<div style="margin-left: 30px;">
				<mat-label>Identificación</mat-label>
			</div>
			<input type="text" style="appearance: none;" class="form-control" placeholder="Identificacion"
				formControlName="cedula" />
			<div style="text-align: start; margin-left:20px;"><small>Consejo: no utilize guiones para redactar la
					cedula. Ejemplo: 40211114358 es una cedula valida</small></div>
			<div *ngIf="userForm.controls.cedula.errors?.pattern" class="alert alert-danger mt-3 mb-0">Cedula es
				invalida, no use guiones</div>
		</div>

		<div style="text-align: start" class="col">
			<div style="margin-left: 30px;">
				<mat-label>Telefono / Celular</mat-label>
			</div>
			<input type="text" class="form-control" style="appearance: none;" formControlName="phone"
				placeholder="Telefono" />
			<div style="text-align: start; margin-left:30px;"><small>
					Consejo: La fecha se encuentra en formato mes / dia / año.
				</small></div>
		</div>
<!-- 
		<div style="text-align: start" class="col">
			<div style="margin-left: 30px;">
				<mat-label>Fecha de Nacimiento Actual: {{current.birth}}</mat-label>
			</div>
			<input type="date" class="form-control" [formControl]="date" formControlName="birth" />
		</div> -->
		<mat-form-field style="text-align: start" class="col" appearance="fill">
			<mat-label>Fecha de Nacimiento</mat-label>
			<input matInput [matDatepicker]="picker2" min="1989-12-31" max="2010-01-01" [formControl]="date">
			<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
			<mat-datepicker #picker2></mat-datepicker>
		</mat-form-field>

		<div style="text-align: start" class="col">
			<div style="margin-left: 30px;">
				<mat-label>E-mail</mat-label>
			</div>
			<input type="email" class="form-control mb-4" formControlName="email" placeholder="E-mail" />
			<div *ngIf="userForm.controls.email.errors?.email" class="alert alert-danger mt-3 mb-0">Email es invalido
			</div>
		</div>
		<input class="submit btn btn-info my-4 btn-block" type="submit" value="Modificar" />
		<div>
			<input class="submit btn btn-info my-4 btn-block" (click)="reestablece()" type="button" value="Reestablecer contraseña" />
		</div>
	</div>

	<div *ngIf="reestable" class="card">
		<div class="card-body">
			<h1 class="card-title">Reiniciar Contraseña</h1>

			<form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
				<div class="form-group row">
					<label for="password" class="col-form-label col-sm-2">Nueva Contraseña:</label>
					<div class="col-md-5">
						<input type="password" id="password" formControlName="new" class="form-control" />
					</div>
				</div>
				<div class="form-group row">
					<label for="confirm" class="col-form-label col-sm-2">Confirmar Contraseña:</label>
					<div class="col-md-5">
						<input type="password" id="confirm" formControlName="confirm" class="form-control" />
					</div>
				</div>
				<br>
				<div class="form-group row">
					<div class="col-md-1">
						<button type="submit" class="btn btn-info" [disabled]="!resetForm.valid">Reestablecer</button>
					</div>
				</div>
			</form>

		</div>
	</div>
</form>