<form [formGroup]="userForm" (ngSubmit)="registrar()" class="text-center border border-light p-5">
  <p class="h4 mb-4">Registrar Usuario</p>
  <div class="form-row mb-4">

    <div class="col" style="text-align: start">
      <mat-form-field appearance="fill" style="margin: 0 20px">
        <mat-label>Rol:</mat-label>
        <select formControlName="role" matNativeControl>
          <option *ngIf="user?.role == 'Admin'" value="Profesor">Profesor</option>
          <option value="Estudiante">Estudiante</option>
          <option *ngIf="user?.role == 'Admin'" value="Admin">Admin</option>
        </select>
      </mat-form-field>
      <mat-form-field *ngIf="userForm.controls.role.value != 'Admin'" appearance="fill" style="margin: 0 20px">
        <mat-label>Grado:</mat-label>
        <select (change)="filter()" formControlName="grado" matNativeControl>
          <option value="Primer Grado de Secundaria">Primer Grado de Secundaria</option>
          <option value="Segundo Grado de Secundaria">Segundo Grado de Secundaria</option>
          <option value="Tercer Grado de Secundaria">Tercer Grado de Secundaria</option>
        </select>
      </mat-form-field>
      <mat-form-field *ngIf="userForm.controls.role.value != 'Admin'" appearance="fill" style="margin: 0 20px">
        <mat-label>Sesión:</mat-label>
        <mat-select formControlName="seccion">
          <mat-option *ngFor="let i of ses" [value]="i.sesionNombre">
            {{ i.sesionNombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div style="text-align: start" class="col">
      <div style="margin-left: 30px;">
        <mat-label>Primer Nombre</mat-label>
      </div>
      <input type="text" class="form-control" formControlName="firstName" placeholder="Primer nombre" />
    </div>
    <div *ngIf="userForm.controls.firstName.errors?.maxLength" class="alert alert-danger mt-3 mb-0">Primer nombre muy
      largo</div>

    <div style="text-align: start" class="col">
      <div style="margin-left: 30px;">
        <mat-label>Apellido paternal</mat-label>
      </div>
      <input type="text" class="form-control" placeholder="Apellido paternal" formControlName="lastName1" />
      <div *ngIf="userForm.controls.lastName1.errors?.maxLength" class="alert alert-danger mt-3 mb-0">Primer apellido
        muy largo</div>
    </div>

    <div style="text-align: start" class="col">
      <div style="margin-left: 30px;">
        <mat-label>Apellido maternal</mat-label>
      </div>
      <input type="text" class="form-control" placeholder="Apellido maternal" formControlName="lastName2" />
      <div *ngIf="userForm.controls.lastName2.errors?.maxLength" class="alert alert-danger mt-3 mb-0">Segundo apellido
        muy largo</div>
      <div *ngIf="userForm.controls.role.value != 'Estudiante'" style="text-align: start; margin-left:20px;">
        <small>Consejo: no utilize guiones para redactar la cedula.
          Ejemplo: 40211114358 es una cedula valida</small></div>
    </div>

    <div *ngIf="userForm.controls.role.value != 'Estudiante'" style="text-align: start" class="col">
      <div style="margin-left: 30px;">
        <mat-label>Identificación</mat-label>
      </div>
      <input type="text" style="appearance: none;" class="form-control" placeholder="Identificacion"
        formControlName="cedula" />
      <div *ngIf="userForm.controls.cedula.errors?.pattern" class="alert alert-danger mt-3 mb-0">Cedula es invalida, no
        use guiones</div>
    </div>

    <div style="text-align: start" class="col">
      <div style="margin-left: 30px;">
        <mat-label>Telefono</mat-label>
      </div>
      <input type="number" class="form-control" style="appearance: none;" formControlName="phone"
        placeholder="Telefono" />
      <div style="text-align: start; margin-left:30px;">
        <small>Consejo: La fecha se encuentra en formato mes / dia / año.</small>
      </div>
    </div>

    <div style="text-align: start" class="col">
      <div style="margin-left: 30px;">
        <mat-label>Fecha de Nacimiento</mat-label>
      </div>
      <input type="date" class="form-control" min="1989-12-31" max="2012-01-01" formControlName="birth" />
    </div>

    <div style="text-align: start" class="col">
      <div style="margin-left: 30px;">
        <mat-label>E-mail</mat-label>
      </div>
      <input type="email" class="form-control mb-4" formControlName="email" placeholder="E-mail" />
      <div *ngIf="userForm.controls.email.errors?.email" class="alert alert-danger mt-3 mb-0">Email es invalido</div>
    </div>

    <div style="text-align: start" class="col">
      <div style="margin-left: 30px;">
        <mat-label>Contraseña</mat-label>
      </div>
      <input type="password" data-validate="Contraseña invalida" formControlName="pass" class="form-control"
        placeholder="Contraseña" />
    </div>
    <div *ngIf="userForm.controls.pass.errors?.maxLength" class="alert alert-danger mt-3 mb-0">Contraseña demasiado
      larga</div>

    <div style="text-align: start" class="col">
      <div style="margin-left: 30px;">
        <mat-label>Confirmar Contraseña</mat-label>
      </div>
      <input type="password" formControlName="secondPass" class="form-control" placeholder="Confirmar Contraseña" />
    </div>

    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
      {{ error }}
    </div>

    <input class="submit btn btn-info my-4 btn-block" type="submit" value="Registrar" />
  </div>
</form>