.form-control {
  margin: 20px;
}
.form-control::placeholder {
  color: #bbb;
}
.submit:disabled {
  pointer-events: none;
  background-color: #812525;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
